* {
  box-sizing: border-box;
}
body {
  /* fontlar Open Sans = 400, 700 Open Sans condensed 700, */
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #222;
}
*:focus {
  outline: 2px dotted #DE2E54;
  outline-offset: 3px;
}
/* Header section */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 24px 50px;
  width: 1200px;
  margin: auto;


}
.logo {
  display: block;
  width: 185px;

}
.logo a img {
  width: 60px;
  height: 50px;
  padding-right: 16px;
  display: block;

}
.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222;
  width: 185px;
  justify-content: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo a:hover {
  color: #DE2E54;
}
.nav-links {
  display: flex;
  list-style: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-item {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #222;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-right: 32px;
  transition: color 0.4s ease,
   opacity 0.4s ease;
}
.nav-item:hover {
  color: #DE2E54;
}
.nav-item:active {
  opacity: 0.6;
}
.main-link {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #DE2E54;
  text-decoration: none;
  padding: 12px 24px;
  border: 2px solid #DE2E54;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.6s ease,
   color 0.6s ease, opacity 0.4s ease;
}
.main-link:hover {
  background-color: #fff;
  color: #DE2E54;
}
.main-link:active {
  color: #ffffff;
  opacity: 0.6;
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
}
.nav-button a{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Hero section */
.hero {
  background-color: #0EB4C1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  margin: auto;
}
.hero-content {
  width: 500px;
  color: #fff;
  margin-left: 170px;

}
.hero-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  margin-top: 0;
  margin-bottom: 16px;
}
.hero-text {
  font-size: 18px;
  line-height: 150%;
  margin-top: 0;
  margin-bottom: 36px;
}
.hero-image {
  padding: 29px 70px 0px 0px;
}
.hero-image img {
  display: block;
}
.hero-button {
  display: block;

}
.hero-button a {
  width: 200px;
  display: block;
}
/* services */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}
.services-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services-main-heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #000;
  margin-bottom: 58px;
}
.services-list {
  width: 864px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listbox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.listbox:last-child{
  margin-bottom: 0;
}
.listbox img {
  width: 200px;
  height: 200px;
  border-radius: 24px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
}
.textbox {
  width: 600px;

}
.services-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  color: #222;
  margin: 24px 0px;;
}
.services-button {
  margin-top: 60px;
  margin-bottom: 120px;
}
/* Contacts section */
.contacts {
  background-color: #0EB4C1;
  padding-top: 125px;
  padding-bottom: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contacts-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 40px;
}
.media-link {
  margin-top: 40px;
  margin-bottom: 64px;

}
.media-link a:first-child {
  margin-right: 40px;

}
.media-link-button {
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  border: 2px solid #fff;
  border-radius: 8px;
  transition: border 0.7s ease,
   background-color 0.7s ease, opacity 0.4s ease;
}
.media-link-button:hover {
  border: 2px solid #DE2E54;
  background-color: #DE2E54;
}
.media-link-button:active {
  opacity: 0.6;
}
/* Footer */
.site-footer {
  background-color: #222;
  padding: 24px 0px;
}
.footer-container {
  width: 1100px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.footer-logo a img {
  width: 60px;
  height: 50px;
  padding-right: 16px;
}
.footer-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  transition: color 0.5s ease,
   opacity 0.5s ease;
}
.footer-logo a:hover{
  color: #DE2E54;
}
.footer-logo a:active{
  color: #DE2E54;
  opacity: 0.6;
  color: #fff;
}
.footer-navbar {
  width: 497px;
}
.footer-navbar ul {
  display: flex;
}
.footer-navbar ul li {
  margin-right: 32px;
}
.footer-navbar ul li:last-child {
  margin-right: 0;
}
.footer-nav-links {
  color: #fff;
  text-decoration: none;
  transition: color 0.6s ease,
   opacity 0.6s ease;
}
.footer-nav-links:hover {
  color: #DE2E54;
}
.footer-nav-links:active {
  opacity: 0.6;
  color: #fff;
}